img{
    width: 3%;
    height: auto;
    display: inline-block;
    vertical-align:auto;
}
nav {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 500px;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
}
nav ul li a{
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff2600;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #050505;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff0000;
}
